<!doctype html>
<#assign aDateTime = .now>
<#assign aDate = aDateTime?date>
<#assign aTime = aDateTime?time>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>NCS Output Specifications</title>

<link href="../resources/abstractSlots_common.css" rel="stylesheet"> 

</head>
<body>
	<img src="../resources/Nuance_logo.jpg" >
	<div class="beside_logo">
	<#if customizedHTML??>
		<#if customizedHTML.projectName??>
			<H1>NCS Output Specifications for ${customizedHTML.projectName}</H1>
		<#else>
			<H1>NCS Output Specifications</H1>
		</#if>
	<#else>
	<H1>NCS Output Specifications</H1>
	</#if>
	
	<br/>
	Created: ${aDate}<br/>
	<#if customizedHTML??>
		<#if customizedHTML.nlpsVersion??>
			NLPS version: ${customizedHTML.nlpsVersion}</br>
		<#else>
			NLPS version: </br>
		</#if>
		<#if customizedHTML.revisionVersion??>
			Revision version: ${customizedHTML.revisionVersion}</br>
		<#else>
			Revision version: </br>
		</#if>
	<#else>
	NLPS version: </br>
	Revision version: </br>
	</#if>
	</div>
	<br/>
	<br/>
	<hr/>
	
	<div class="normaltext">
		<p><b>notice</b></p>
		<p>Copyright &#169 ${aDate?string("yyyy")} Nuance Communications, Inc. All rights reserved.</p>
		<p>Published by Nuance Communications, Inc.</p>
		<p>One Wayside Road, Burlington, Massachusetts 01803, U.S.A.</p></br>
		<p>Nuance Communications, Inc. provides this document without representation or warranty of any kind. The information in this document is subject to change without notice and does not represent a commitment by Nuance Communications, Inc. The software and/or databases described in this document are furnished under a license agreement and may be used or copied only in accordance with the terms of such license agreement. Without limiting the rights under copyright reserved herein, and except as permitted by such license agreement, no part of this document may be reproduced or transmitted in any form or by any means, including, without limitation, electronic, mechanical, photocopying, recording, or otherwise, or transferred to information storage and retrieval systems, without the prior written permission of Nuance Communications, Inc.</p></br>
		<p>Nuance and the Nuance logo are trademarks or registered trademarks of Nuance Communications, Inc. or its affiliates in the United States and/or other countries. All other trademarks referenced herein are the property of their respective owners.</p>
	</div>
	<hr/>
	<#if customizedHTML??>
		<#if customizedHTML.contentAfterCover??>
			<div style="page-break-after: always;"></div>
			${customizedHTML.contentAfterCover}
		</#if>
	</#if>
	
</body>
</html>